@model WebStore.Models.Product

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h2 class="mb-4">@Model.Name</h2>
  
    <div class="card">
        <div class="row">
            <div class="col">
                <img class="card-img" src="@Model.ImageSource" />
            </div>
            <div class="col">
                <div class="card-body">
                    <h5 class="card-title">Description:</h5>
                    <p class="card-text">@Model.Description</p>

                    <h5 class="card-title">Price:</h5>
                    <div class="alert alert-primary" role="alert">
                        <h4 class="alert-heading">$@Math.Round(Model.Price, 2)</h4>
                    </div>

                    <h5 class="card-title">Category:</h5>
                    <span class="card-text">@Model.Category.Name</span>

                    @if (Model.DisplayComments)
                    {
                        <h5 class="card-title mt-4">Comments:</h5>
                        <div class="container">
                            <div class="row">
                                @for (int i = 0; i < 5; ++i)
                                {
                                    <div class="media">
                                        <div class="media-body">
                                            <h6 class="mt-0">Username</h6>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed ullamcorper morbi tincidunt ornare massa. Ante in nibh mauris cursus mattis molestie a.
                                        </div>
                                    </div>
                                    <hr />
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-warning mt-4" role="alert">
                            Comments for this product are disabled.
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
