
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Product" asp-action="Create">Add product</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Admin" asp-action="ManageUsers">Manage users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Admin" asp-action="ManageCategories">Manage categories</a>
    </li>
</ul>

