@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}

<h1>Catalog</h1>

<div class="container-fluid">
    <div class="card-columns">
        @foreach (var product in Model)
        {
            <div class="card">
                <img src="@product.ImageSource" class="card-img-top" alt="...">
                <div class="card-body">
                    <hr />
                    <a href="@Url.Action("Details", "Product", new { id = product.Id })"><h5 class="card-title">@product.Name</h5></a>
                    <h5 class="float-left">$@Math.Round(product.Price, 2)</h5>
                    <a href="#"><h5 class="float-right">Add to cart</h5></a>
                    <br />
                </div>
            </div>
        }
    </div>
</div>

